/* Reseta os estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Arial', sans-serif;
  background-color: #d9dcc8; /* Fundo suave */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #f6f6e9; /* Fundo da área principal */
  border-radius: 12px; /* Bordas mais arredondadas */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1); /* Sombra mais destacada */
  display: flex;
  flex-direction: row; /* Disposição horizontal */
  max-width: 1200px; /* Ajustado para desktop */
  width: 95%; /* Ajustável para preencher mais a tela */
  height: 700px; /* Altura maior para desktop */
}

.main-content {
  display: flex;
  flex: 2;
  align-items: center;
  padding: 50px; /* Espaçamento interno maior */
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  width: 150px; /* Tamanho aumentado */
  height: auto;
}

.text {
  flex: 2;
  padding-left: 40px;
}

.text h1 {
  font-size: 32px; /* Fonte maior */
  font-weight: bold;
  color: #4a4a39;
}

.text h2 {
  font-size: 22px;
  font-weight: normal;
  color: #4a4a39;
  margin-top: 10px;
}

.text p {
  font-size: 18px;
  color: #6c6c54;
  margin-top: 14px;
}

.sidebar {
  flex: 1;
  background-color: #f0eede; /* Fundo dos links */
  padding: 40px; /* Espaçamento interno */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar a {
  text-decoration: none;
  color: #4a4a39;
  font-size: 18px;
  background-color: #f9f9e8;
  border: 2px solid #c2c2a6; /* Bordas agora visíveis */
  border-radius: 5px;
  text-align: center;
  padding: 12px 18px; /* Botões maiores */
  margin-bottom: 12px;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #e0dec1;
  border-color: #a8a892;
}

.footer {
  position: absolute;
  bottom: 20px;
  left: 950px;
}

.footer a img {
  width: 24px;
  height: 24px;
}
